<nav>
    <ul>
        <li><a href="{% url 'home' %}">Projects</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="{% url 'donation' %}">Buy me a coffee</a></li>
        <li><a href="{% url 'chart' %}">Vote</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'inbox' %}" class="btn btn-secondary">Inbox</a></li>
        <li><a href="{% url 'add-project' %}" class="btn btn-secondary">Add Project</a></li>
        <li><a href="{% url 'add-skill' %}" class="btn btn-secondary">Add Skill</a></li>
        {% endif %}
    </ul>
</nav>